<template>
    <div id="carte">
        <h3>Carte</h3>
        <div id="mapid"></div>
    </div>
</template>

<script>
    export default {
        name: "carte",
        data() {
            return {
                /* eslint-disable */
                map: null,
                tileLayer: null,
                layers: [
                    {
                        id: 0,
                        name: 'Restaurants',
                        active: false,
                        features: [],
                    },
                ],
            }
        },
        mounted() {
            this.initMap();
        },
        methods: {
            initMap() {
                /* eslint-disable */
                let map = L.map('mapid', {
                    center: [45.7447, 1.7010999999999967],
                    zoom: 13
                });

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: ' <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                L.marker([45.7447, 1.7010999999999967]).addTo(map);
            },
        },
    }
</script>

<style scoped>
    h3 {
        color : #887E7E;
        text-align: center;
    }
    #mapid {
        height: 350px;
        width: 90%;
        margin: auto;
    }
</style>
