<template>
    <!--eslint-disable-->
    <div class="divRuchers">
        <h1>Gestion des ruches et des ruchers</h1>

        <div class="row">
            <div class="col-25">
                <label>Identifiant</label>
            </div>
            <div class="col-75">
                <input type="text" id="ident" maxlength="256">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>Nombre de ruches :</label>
            </div>
            <div class="col-75">
                <input type="number" id="nbRuche">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>Environnement :</label>
            </div>
            <div class="col-75">
                <select id="environnement">
                    <option v-for="env in environnement" v-bind:value="env">
                        {{ env }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <button id="" v-on:click="addRucher()">Valider</button>
        </div>

        <ul v-for="r in rucher">
            <li>Identifiant : {{ r[0] }}</li>
            <li>Nb ruches : {{ r[1] }}</li>
            <li>Descriptif : {{ r[2] }}</li>
            <li>Coordoonées : {{ r[3] }}</li>
            <li>Date de création : {{ r[4] }}</li>
            <li>Historique des visites : {{ r[5] }}</li>
            <li>Fréquence de visite personnalisée : {{ r[6] }}</li>
        </ul>
    </div>

</template>

<script>
    export default {
        name: 'gestionRucher',
        data() {
            return {
                rucher: '',
                environnement: ''
            }
        },
        mounted() {
            if (localStorage.getItem("environnement")) {
                this.environnement = JSON.parse(localStorage.getItem("environnement"));
            }
            if (localStorage.getItem("rucher")) {
                this.rucher = JSON.parse(localStorage.getItem("rucher"));
            }
        },
        methods: {
            addRucher: function() {
                var tab = [];
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; // Janvier = 0

                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                today = dd + '/' + mm + '/' + yyyy;

                if (localStorage.getItem("rucher")) {
                    tab = this.rucher;
                    tab[tab.length] = [];
                    tab[tab.length - 1][0] = document.getElementById("ident").value;
                    tab[tab.length - 1][1] = document.getElementById("nbRuche").value;
                    tab[tab.length - 1][2] = document.getElementById("environnement").value;
                    tab[tab.length - 1][3] = "";
                    tab[tab.length - 1][4] = today;
                    tab[tab.length - 1][5] = [];
                    tab[tab.length - 1][6] = "";
                } else {
                    tab[0] = [];
                    tab[0][0] = document.getElementById("ident").value;
                    tab[0][1] = document.getElementById("nbRuche").value;
                    tab[0][2] = document.getElementById("environnement").value;
                    tab[0][3] = "";
                    tab[0][4] = today;
                    tab[0][5] = [];
                    tab[0][6] = "";
                }
                localStorage.setItem("rucher", JSON.stringify(tab));
                this.rucher = JSON.parse(localStorage.getItem("rucher"));
                document.getElementById("ident").value = "";
                document.getElementById("nbRuche").value = "";
                document.getElementById("environnement").value = "";
            }
        }
    }
</script>

<style scoped>
    h1 {
        color: #4CAF50;
        text-align: center;
    }

    input[type=text], input[type=number] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    button:hover {
        background-color: #45a049;
    }

    .divRuchers {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        max-height: 60vh;
        overflow: auto;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 70%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media (max-width: 800px) {
        .col-25, .col-75 {
            width: 100%;
        }
    }
</style>
