<template>
    <div id="contente">
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: "contente",
    }
</script>

<style scoped>
    #contente {
        background-color: #C0BE98;
        min-height: 70vh;
        padding-top: 5vh;
        padding-bottom: 12vh;
    }
    .container {
        width: 85%;
        min-height: 52vh;
        margin: auto;
        background-color: #dfdecb;
        border-radius: 10px;
        padding: 2%;
    }
</style>
