<template>
  <div id="app">
      <Header></Header>
      <Content></Content>
      <Footer></Footer>
  </div>
</template>

<script>
import Header from './components/commun/header';
import Footer from './components/commun/footer';
import Content from './pages/content';

export default {
    name: 'app',
    components: {
        Content,
        Header,
        Footer,
    },
}
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        min-height: 100vh;
        position: relative;
    }
</style>
