<template>
    <div id="topPage">
        <div class="topMenu">
            <img class="logo"
                 src="../../assets/img/logo.png"/>
            <h1 class="titleMain">{{ titre }}</h1>
            <div class="btn"
                @click="menu">
                <img src="../../assets/img/menu.svg"
                    alt="Menu"
                    class="burgerMenu"/>
            </div>
        </div>
        <Menu v-if="activatedMenu">
        </Menu>
        <Navigation class="nav">
        </Navigation>
    </div>
</template>
<script>
    import Menu from '../menu/menu';
    import Navigation from "../navigation/navigation";

    export default {
        name : 'topPage',
        components : {
            Navigation,
            Menu,
        },
        data() {
            return {
                titre : 'App\'Iculture',
                activatedMenu : false,
            }
        },
        methods : {
            menu() {
                this.activatedMenu = !this.activatedMenu;
                localStorage.activatedMenu = this.activatedMenu;
            },
        }
    }
</script>
<style scoped>
    #topPage{
        height: 40vh;
        background-image: url('../../assets/img/header.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .topMenu{
        height: 8vh;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        text-align: center;
    }
    .logo{
        height: 80%;
        padding-left: 2%;
    }
    .titleMain{
        color: cornsilk;
        font-size: 20px;
        margin : auto;
        flex : 4;
    }
    .btn {
        margin: auto;
        margin-right: 2%;
        background-color: cornsilk;
        border-radius: 50%;
        text-align: center;
    }
    .burgerMenu {
        display : block;
        padding : 8px;
        height : 15px;
        width : 15px;
    }
    .nav {
        position: absolute;
        bottom: 0;
        border-top : 1px solid #887E7E;
        border-bottom : 1px solid #887E7E;
    }
</style>
