<template>
    <div class="divConfiguration">
        <h1>Configuration</h1>
        <div class="row">
            <div class="col-25">
                <label for="frequenceVisite">Fréquence globale de visites :</label>
            </div>
            <div class="col-75">
                <input type="number" id="frequenceVisite" v-model="frequenceVisite">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="environnement">Ajouter un type d'environnement :</label>
            </div>
            <div class="col-75">
                <input type="text" id="environnement">
                <input type="submit" value="Ajouter" class="add" v-on:click="addEnvironnement()">
            </div>
        </div>

        <div class="row">
            <ul>
                <!--eslint-disable-next-line-->
                <li v-for="env in environnement">{{ env }}</li>
            </ul>
        </div>

        <div class="row">
            <div class="col-25">
                <label>Importer un fichier json :</label>
            </div>
            <div class="col-75">
                <input type="file" accept=".json,application/json" id="fichierJson" ref="myFiles">
                <button v-on:click="importer()" id="importer">Importer</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'config',
        data() {
            return {
                frequenceVisite: '',
                environnement: ''
            }
        },
        mounted() {
            if (localStorage.frequenceVisite) {
                this.frequenceVisite = localStorage.frequenceVisite;
            }
            if (localStorage.getItem("environnement")) {
                this.environnement = JSON.parse(localStorage.getItem("environnement"));
            }
        },
        watch: {
            frequenceVisite(newfrequenceVisite) {
                localStorage.frequenceVisite = newfrequenceVisite;
            }
        },
        methods: {
            addEnvironnement() {
                var tab = [];

                if (localStorage.getItem("environnement")) {
                    tab = this.environnement;
                    tab[tab.length] = document.getElementById("environnement").value;
                } else {
                    tab[0] = document.getElementById("environnement").value;
                }
                localStorage.setItem("environnement", JSON.stringify(tab));
                this.environnement = JSON.parse(localStorage.getItem("environnement"));
                document.getElementById("environnement").value = "";
            },
            importer: function() {
                //var input = document.getElementById("fichierJson");
                //console.log (this.$refs.myFiles.files);
            }
        }
    }
</script>

<style scoped>
    h1 {
        color: #4CAF50;
        text-align: center;
    }

    input[type=text], input[type=number] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit], #importer {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover, #importer:hover {
        background-color: #45a049;
    }

    .add {
        margin: 2px 0 0 0;
    }

    .divConfiguration {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        max-height: 60vh;
        overflow: auto;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 70%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media (max-width: 800px) {
        .col-25, .col-75 {
            width: 100%;
        }
    }
</style>
